# Configuration file

general {
    # The number of chunks that are searched by Scenter. Valid values are 1, 3x3, 5x5, 7x7, 9x9, 11x11, 13x13, 15x15.
    S:detectionRange=3x3

    # Set to 'true' to enable Scenter. Set to 'false' to disable Scenter.
    B:enabled=true

    # Syntax version. Do NOT manually change this value!
    S:version=1.12-3.11.0
}


